html {
    height: 100%;
    --background: white;
    --grey-200: #222222;
    --grey-400: #444444;
    --grey-600: #333333;
    --grey-900: #111111;

    --primary: #33C3F0;
    --white: #ffffff;
}

html.dark {
    --background: black;
    --grey-200: #eaeaea;
    --grey-400: #acacac;
    --grey-600: #ffffff;
    --grey-900: #fafafa;

    --primary: #33C3F0;
    --white: #ffffff;
}


body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    padding: 0 0.2rem;
    color: var(--grey-600);
    background: var(--background);
}

main {
    max-width: 60rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

img {
    margin: auto;
}

footer {
    display: flex;
    position: fixed;
    max-width: 60rem;
    bottom: 0;
}