---
import Main from "../layouts/Main.astro";
const profilePicture = "./images/logo.png";
---

<Main title="ztc.ninja">
	<img
		class="logo"
		width="400px"
		height="400px"
		src={profilePicture}
		alt="logo"
	/>
</Main>
