---
import Footer from "../components/Footer.tsx";
import "../styles/global.css";

type Props = {
    title: string;
};

const { title } = Astro.props;
---

<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="/android-chrome-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="512x512"
            href="/android-chrome-192x192.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="ZTC.ninja forwarder" />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <slot> Under construction</slot>
            <Footer client:load />
        </main>
    </body>
</html>
